{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% from "security/_macros.html" import render_field_with_errors, render_field, render_form_errors, render_field_errors %}

{% block content %} 

{% from "macros.html" import h1, h2 %}

<div id="home" class="flex flex-col gap-4 mb-16 w-5/6 2xl:w-1/2">
  {{ h1('Login') }}
  <p class="text-xl text-gray-500 dark:text-gray-400">
    Login paragraph.
  </p>

  <div class="container">
    {{ h2('Login form') }}
    <form action="{{ url_for_security('login') }}" method="POST">

        {{ login_user_form.hidden_tag() }}
        
        <div class="form-group">
            {{ login_user_form.email.label }}<br>
            {{ render_field(login_user_form.email) }}
        </div>
        <div class="form-group">
            {{ login_user_form.password.label }}<br>
            {{ render_field(login_user_form.password) }}
        </div>
        <div class="form-group">
            {{ login_user_form.remember.label }}<br>
            {{ render_field(login_user_form.remember) }}
        </div>
        <div class="form-group">
            {{ login_user_form.submit.label }}<br>
            {{ render_field(login_user_form.submit) }}
        </div>

        {% if login_user_form.next.data %}
            <input type="hidden" name="next" value="{{ login_user_form.next.data }}">
        {% endif %}
        
    </form>

    <p>
        <a href="{{ url_for('security.register') }}">Register</a>
    </p>

  </div>
</div>

<script>
</script>

{% endblock %}
