{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% from "security/_macros.html" import render_field_with_errors, render_field, render_form_errors, render_field_errors %}

{% block content %} 

{% from "macros.html" import h1, h2 %}

<div id="home" class="flex flex-col gap-4 mb-16 w-5/6 2xl:w-1/2">
  {{ h1('Register') }}
  <p class="text-xl text-gray-500 dark:text-gray-400">
    Register paragraph.
  </p>

  <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
    {{ register_user_form.hidden_tag() }}
    
    <div class="form-group">
        {{ register_user_form.email.label }}<br>
        {{ render_field(register_user_form.email) }}
    </div>
    
    <div class="form-group">
        {{ register_user_form.password.label }}<br>
        {{ render_field(register_user_form.password) }}
    </div>
    
    <div class="form-group">
        {{ register_user_form.password_confirm.label }}<br>
        {{ render_field(register_user_form.password_confirm) }}
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
    
    {% if register_user_form.next.data %}
        <input type="hidden" name="next" value="{{ register_user_form.next.data }}">
    {% endif %}
</form>
<p><a href="{{ url_for_security('login') }}">Already have an account?</a></p>
</div>

<script>
</script>

{% endblock %}
